<!-- 
This is where the playground of the game is
The characters are generated so that they can be 
brought on any page 
-->

<!-- where game displays -->
<div id="pane"></div>

<!-- diplay coordinates used for testing -->
<p id="output"></p><br>
<p id="outputs"></p>

<!-- custom local dependencies -->
<script type="module" defer src="/static/js/socketgame.js"></script>
<link rel="stylesheet" href="/static/css/style.css">

<!-- 3rd party  -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>